<% [:notice, :error, :warning, :alert].each do |message_type| %>
  <% if flash[message_type] || flash.now[message_type] %>
    <div class="message <%= message_type %>">
      <%= flash[message_type].presence || flash.now[message_type] %>
    </div>
  <% end %>
<% end %>